{% extends "encyclopedia/layout.html" %}

{% block title %}
    Entry
{% endblock %}

{% block body %}
    {% if title != None %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a class="edit_link" href="{% url 'encyclopedia:edit' title=title_raw %}">edit entry</a>
            </div>
        </div>
    </div>
    <div class=container>

        
        {{title|safe}}
       
    {% else %}
        <p>No entries exist by that title!</p>
    {% endif %}
</div>


{% endblock %}